simple_CAR/build/*
*/__pycache__/*
*.out
*.interpolant
*.cnf
*.smt2
*.log
*.pyc
*.dimacs
*.result
# *.aig
./ProofDoorBenchmark/data/PDComputationTime/interpolant_times.json
*.sanity
./ProofDoorBenchmark/absorption_experiments/caches/*
*.stdout
*drat
*.literals
*.cadical_proof
*.drat.raw
ProofDoorBenchmark/absorption_experiments/
minisat_proof/build/*
*.json
.vscode/
.z3-trace
-R
%PROOF_FILE
test/*
test
tmp*
*.raw
*.minisat_proof
*.cadical_proof
.vscode/
data/
# figures/
simple_CAR/
# minisat_proof/
# minisat_absorption_checker/
# minisat/
ProofDoorBenchmark/
Outputs/
# solvers/
*.partialproof
*.glucoseproof
results/
__pycache__/
ProofDoorBenchmark/branching_orders/