iz3/build/*
simple_CAR/build/*
*/__pycache__/*
*.out
*.interpolant
*.cnf
*.smt2
*.log
*.pyc
*.dimacs
*.result
# *.aig
./ProofDoorBenchmark/data/PDComputationTime/interpolant_times.json
*.sanity
./ProofDoorBenchmark/absorption_experiments/caches/*
*.stdout
*drat
*.literals
*.cadical_proof
*.drat.raw
ProofDoorBenchmark/absorption_experiments/
minisat_proof/build/*
.vscode/
.z3-trace
-R
%PROOF_FILE
iz3/
test/*
test
tmp*
